
//本番環境ではherokuのURLに変更
VUE_APP_SERVER_URL=http://localhost:8000

//Firebase関連の設定情報
VUE_APP_FIREBASE_API_KEY=xxx
VUE_APP_FIREBASE_AUTH_DOMAIN=xxx
VUE_APP_FIREBASE_PROJECT_ID=xxx
VUE_APP_FIREBASE_STORAGE_BUCKET=xxx
VUE_APP_FIREBASE_MESSAGING_SENDER_ID=xxx
VUE_APP_FIREBASE_APP_ID=xxx
