
# データベース設定
DATABASE_URL=sqlite://db.sqlite3

# CORS 設定（例）
ALLOWED_ORIGINS=["http://localhost", ""]

#Cloudinary関連
CLOUDINARY_URL=cloudinary://xxx
CLOUDINARY_API_SECRET=xxx
CLOUDINARY_CLOUD_NAME=xxx
CLOUDINARY_API_KEY=xxx

#Firebase admin関連
GOOGLE_APPLICATION_CREDENTIALS=C:xxx\photo_app\server\firebase.json
